/* .grid-generator{
    display: flex;
    border: 1px solid red;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;   
}
.grid-item:hover{
background-color: red !important;
opacity : 0.8;
} */
 
.grid-generator {
    display: grid;
    gap: 1px;
    border: 1px solid red;
    width: 800px;
    height: 800px;
}

.grid-item {
    border: 1px solid red;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.grid-item.active {
    background-color: yellow;
}

.grid-item:hover {
    background-color: red;
    opacity: 0.8;
}
